*.zip
*.gpkg
data/input/fwa_stream_networks_channel_width.csv.gz
data/input/fwa_stream_networks_channel_width.csv
*.tif
*.tif.aux.xml
.Rproj.user
.Rproj.user/*
*.Rproj
*.Rhistory
*.RData
*.gdb
src/shared/*
